[submodule "project/起点搜书/owllook"]
	path = project/起点搜书/owllook
	url = https://github.com/howie6879/owllook.git
[submodule "project/quant/llama.cpp"]
	path = project/quant/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
